htdocs/synopsisapple/ups/api/shipping/ShippingPACKAGE/PACKAGEXMLTools/Schemas/ShipAcceptResponse.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ups="http://www.ups.com/XMLSchema" elementFormDefault="qualified">
	<xsd:element name="ShipmentAcceptResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Response"/>
				<xsd:element minOccurs="0" ref="ShipmentResults"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="Response">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element minOccurs="0" ref="TransactionReference"/>
				<xsd:element ref="ResponseStatusCode"/>
				<xsd:element minOccurs="0" ref="ResponseStatusDescription"/>
				<xsd:element maxOccurs="unbounded" minOccurs="0" ref="Error"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ResponseStatusCode" type="xsd:string"/>
	<xsd:element name="ResponseStatusDescription" type="xsd:string"/>
	<xsd:element name="TransactionReference">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element minOccurs="0" name="CustomerContext" type="xsd:string"/>
				
				
				
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Error">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ErrorSeverity"/>
				<xsd:element ref="ErrorCode"/>
				<xsd:element minOccurs="0" ref="ErrorDescription"/>
				<xsd:element minOccurs="0" ref="MinimumRetrySeconds"/>
				<xsd:element maxOccurs="unbounded" minOccurs="0" ref="ErrorLocation"/>
				<xsd:element maxOccurs="unbounded" minOccurs="0" ref="ErrorDigest"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ErrorCode" type="xsd:string"/>
	<xsd:element name="ErrorDescription" type="xsd:string"/>
	<xsd:element name="ErrorDigest" type="xsd:string"/>
	<xsd:element name="ErrorSeverity" type="xsd:string"/>
	<xsd:element name="ErrorLocation">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element minOccurs="0" ref="ErrorLocationElementName"/>
				
				<xsd:element minOccurs="0" ref="ErrorLocationAttributeName"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ErrorLocationAttributeName" type="xsd:string"/>
	<xsd:element name="ErrorLocationElementName" type="xsd:string"/>
	<xsd:element name="ErrorLocationElementReference" type="xsd:string"/>
	<xsd:element name="MinimumRetrySeconds" type="xsd:string"/>
	
	
	<xsd:element name="ShipmentResults">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element minOccurs="0" ref="ShipmentCharges"/>
				<xsd:element minOccurs="0" ref="NegotiatedRates"/>
				<xsd:element ref="BillingWeight"/>
				<xsd:element name="Disclaimer" type="DisclaimerType" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element minOccurs="0" name="ShipmentIdentificationNumber" type="xsd:string"/>
				
				<xsd:element name="RatingMethod" type="xsd:string" minOccurs="0"/>
				<xsd:element name="BillableWeightCalculationMethod" type="xsd:string" minOccurs="0"/>
				<xsd:element minOccurs="0" ref="ControlLogReceipt"/>
				<xsd:element maxOccurs="unbounded" ref="PackageResults"/>
				<xsd:element minOccurs="0" name="Form" type="IntlForms"/>
				<xsd:element minOccurs="0" name="CODTurnInPage" type="CODImageType"/>
				<xsd:element minOccurs="0" name="HighValueReport" type="HighValueReportType"/>
				<xsd:element minOccurs="0" name="LabelURL" type="xsd:string"/>
				<xsd:element minOccurs="0" name="LocalLanguageLabelURL" type="xsd:string"/>
				<xsd:element minOccurs="0" name="ReceiptURL" type="xsd:string"/>
				<xsd:element minOccurs="0" name="LocalLanguageReceiptURL" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="DisclaimerType">
		<xsd:sequence>
			<xsd:element name="Code" type="xsd:string"/>
			<xsd:element name="Description" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="ShipmentCharges">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element minOccurs="0" name="RateChart" type="xsd:string"/>
				<xsd:element ref="TransportationCharges"/>
				<xsd:element ref="ServiceOptionsCharges"/>
				<xsd:element ref="AccessorialCharges" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="SurCharges" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="TaxCharges" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="TotalCharges"/>
				<xsd:element ref="TotalChargesWithTaxes" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TransportationCharges" type="MonetaryType"/>
	<xsd:element name="ServiceOptionsCharges" type="MonetaryType"/>
	<xsd:element name="AccessorialCharges" type="MonetaryType"/>
	<xsd:element name="SurCharges" type="MonetaryType"/>
	<xsd:element name="TaxCharges" type="TaxChargeType"/>
	<xsd:element name="TotalCharges" type="MonetaryType"/>
	<xsd:element name="TotalChargesWithTaxes" type="MonetaryType"/>
	<xsd:complexType name="MonetaryType">
		<xsd:sequence>
			<xsd:element name="Code" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
			<xsd:element ref="CurrencyCode" minOccurs="0"/>
			<xsd:element ref="MonetaryValue"/>
			<xsd:element name="SubType" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="CurrencyCode" type="xsd:string"/>
	<xsd:element name="MonetaryValue" type="xsd:string"/>
	<xsd:complexType name="TaxChargeType">
		<xsd:sequence>
			<xsd:element name="Type" type="xsd:string"/>
			<xsd:element name="MonetaryValue" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="NegotiatedRates">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="AccessorialCharges" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="SurCharges" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="TaxCharges" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="TransportationCharges" minOccurs="0"/>
				<xsd:element ref="NetSummaryCharges"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="NetSummaryCharges">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="GrandTotal"/>
				<xsd:element ref="TotalChargesWithTaxes" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="GrandTotal">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CurrencyCode"/>
				<xsd:element ref="MonetaryValue"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BillingWeight">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element minOccurs="0" ref="UnitOfMeasurement"/>
				<xsd:element name="Weight" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="UnitOfMeasurement" type="CodeType"/>
	<xsd:complexType name="CodeType">
		<xsd:sequence>
			<xsd:element ref="Code"/>
			<xsd:element minOccurs="0" ref="Description"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Code" type="xsd:string"/>
	<xsd:element name="Description" type="xsd:string"/>
	<xsd:element name="ControlLogReceipt" type="ImageType"/>
	<xsd:element name="ImageFormat" type="CodeType"/>
	<xsd:complexType name="ImageType">
		<xsd:sequence>
			<xsd:element ref="ImageFormat"/>
			<xsd:element ref="GraphicImage"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="GraphicImage" type="xsd:string"/>
	<xsd:element name="PackageResults">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="TrackingNumber"/>
				<xsd:element minOccurs="0" ref="ServiceOptionsCharges"/>
				<xsd:element minOccurs="0" ref="LabelImage"/>
				<xsd:element minOccurs="0" ref="Receipt"/>
				<xsd:element minOccurs="0" name="USPSPICNumber" type="xsd:string"/>
				<xsd:element name="CN22Number" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Form" type="IntlForms" minOccurs="0"/>
				<xsd:element ref="Accessorial" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TrackingNumber" type="xsd:string"/>
	<xsd:element name="InternationalSignatureGraphicImage" type="xsd:string"/>
	<xsd:element name="HTMLImage" type="xsd:string"/>
	<xsd:element name="PDF417" type="xsd:string"/>
	<xsd:element name="Accessorial">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Code" type="xsd:string"/>
				<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LabelImage">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="LabelImageFormat"/>
				<xsd:element ref="GraphicImage"/>
				<xsd:element minOccurs="0" ref="InternationalSignatureGraphicImage"/>
				<xsd:element minOccurs="0" ref="HTMLImage"/>
				<xsd:element minOccurs="0" ref="PDF417"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LabelImageFormat">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Code"/>
				<xsd:element minOccurs="0" ref="Description"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Receipt">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element minOccurs="0" ref="Image"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Image" type="ImageType"/>
	<xsd:complexType name="IntlForms">
		<xsd:sequence>
			<xsd:element name="Code" type="xsd:string"/>
			<xsd:element name="Description" type="xsd:string"/>
			<xsd:element ref="Image"/>
			<xsd:element minOccurs="0" name="FormGroupId" type="xsd:string"/>
			<xsd:element minOccurs="0" name="FormGroupIdName" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CODImageType">
		<xsd:sequence>
			<xsd:element ref="Image"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="HighValueReportType">
		<xsd:sequence>
			<xsd:element ref="Image"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
